<span class="player-number">{{player.data.number}}</span>
<input class="best-checkbox" type="checkbox" name="best" value="" ng-model="player.data.BP">
<input class="best-checkbox" type="checkbox" name="best" value="" ng-model="player.data.BR">
<input required class="player-nick" type="text" ng-model="player.data.nick">
<select required class="player-role" name="" id="" ng-model="player.data.role">
    <option ng-repeat= "role in roles">{{role}}</option>
</select>
<span class="falls">
    <button type="" class="decrFall" ng-disabled="player.data.falls == 0" ng-click="player.decrFall()">-</button>
    <span>{{player.data.falls}}</span>
    <button type="" class="incrFall" ng-disabled="player.data.falls == maxFalls" ng-click="player.incrFall()">+</button>
</span>
<!--     <input type="checkbox">Убит
<input type="checkbox">Проверен шерифом
<input type="checkbox">Проверен доном -->
