<!doctype html>
<html ng-app="ProtocolApp">
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/player.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/timer.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/protocol-header.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/players-header.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/player.css">
    <link rel="stylesheet" type="text/css" href="css/timer.css">
    <link rel="stylesheet" type="text/css" href="css/protocol-header.css">
    <link rel="stylesheet" type="text/css" href="css/players-header.css">
  </head>
  <body ng-controller="ProtocolCtrl as Protocol">
    <protocol-header></protocol-header>
    <timer></timer>
    <players-header></players-header>
    <div class="player-container">
      <player ng-repeat="player in Protocol.playerLines track by $index">
      </player>
    <button class= "btn btn-success" type="submit" ng-click="Protocol.saveGame()">Внести</button>
    </div>
  </body>
</html>