<span class="player-number">{{$index + 1}}</span>
<input class="best-checkbox" type="checkbox" name="best" value="" ng-model="player.BP">
<input class="best-checkbox" type="checkbox" name="best" value="" ng-model="player.BR">
<input class="player-nick" type="text" ng-model="player.nick">
<select class="player-role" name="" id="" ng-model="player.role">
    <option ng-repeat= "role in ROLES">{{role}}</option>
</select>
<span class="falls" >
    <button type="" class="decrFall" ng-click="player.decrFall()">-</button>
    <span>{{player.falls}}</span>
    <button type="" class="incrFall" ng-click="player.incrFall()">+</button>
</span>
<!--     <input type="checkbox">Убит
<input type="checkbox">Проверен шерифом
<input type="checkbox">Проверен доном -->
