player {
    display: block;
    /*border: 1px solid black;*/
}
.best-checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 17px 0;
}
player .player-nick,
player .player-role {
    margin: 10px 0px;
}

.player-nick.ng-touched.ng-invalid {
    border: 1px solid black;
}